nav{
    background-color: steelblue;
    padding: 10px;
}


nav a{
    color: white;
    display: block;
    padding: 20px;
}


h1{
    color: steelblue;
}


img{
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}


p{
    padding: 10px;
}


h1
{color: yellow;
background-color: rgb(red, green, blue);}


.wrapper {
    font-size: 1em;
}

.px {
    width: 200px;
}

.vw {
    width: 10vw;
}

.em {
    width: 1em;
}


html {
    font-size: 16px;
}

.ems li {
    font-size: 1.3em;
}
.remss li {
    font-size: 1.3rem;
}

p{
    margin: 0;
    background-image: repeating-linear-gradient(
        to top,
        lightskyblue 0 2px,
        transparent 2px 11h
    );
}


.wrapper{
    width: 4OOpx;
    border: 5px solid rebeccapurple;
}

.px{
    width: 200px;
}

.vw{
    width: 10vw;
}

.em{
    width: 10em;
}